---
import Layout from "../../layouts/LayoutBlog.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import BlogList from "../../components/BlogList.astro";
import ArrowRigth from "../../components/icons/ArrowRigth.astro";

export async function getStaticPaths({ paginate }) {
  const postList: any = await Astro.glob("../blog/*.md");
  return paginate(postList, { pageSize: 5 });
}
const { page } = Astro.props;
console.log(page.data);
---

<Layout
  title="Blog de Parango"
  description="Desarrollador backend y Devops con 10+ años de experiencia"
>
  <main class="px-4">
    <SectionContainer class="pb-32">
      <h2 class="text-3xl font-bold">Artículos</h2>
      <BlogList posts={page.data} />
      <div class="flex items-center text-center align-middle justify-center">
        <a href="" class="flex flex-row space-x-4"
          >Más artículos
          <ArrowRigth class="size-3 md:size-6" />
        </a>
      </div>
      {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
      {page.url.next ? <a href={page.url.next}>Next</a> : null}
    </SectionContainer>
  </main>
</Layout>
