<header class="mx-auto py-8 px-0 items-center justify-center lg:w-[740px]">
  <nav class="flex flex-row mx-auto">
    <div class="flex text-left w-full justify-start">
      <a href="#" class="font-semibold text-3xl">Parango</a>
    </div>
    <div
      class="flex w-full justify-end gap-8 text-center align-middle items-center"
    >
      <a class="" href="/blog/1">Post</a>
      <a class="" href="/tags">Tags</a>
      <a class="" href="/">Sobre mí</a>
    </div>
  </nav>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
</header>
